.form_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.input, .select {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}
